@import "./colors.css";
@import "./spacing.css";
@import "./typography.css";
@import "./shadows.css";
@import "./radius.css";
@import "./effects.css";
@import "./motion.css";
@import "./borders.css";
@import "./fonts.css";


/* ================================
   Fluid Typography
================================ */

:root{

    --fs-display:clamp(2.4rem,1.8rem + 2vw,4.2rem);

    --fs-h1:clamp(2rem,1.6rem + 1.3vw,3rem);

    --fs-h2:clamp(1.7rem,1.4rem + .8vw,2.4rem);

    --fs-h3:clamp(1.3rem,1.15rem + .5vw,1.7rem);

    --fs-body:clamp(1rem,.95rem + .2vw,1.1rem);

    --fs-small:clamp(.9rem,.85rem + .15vw,1rem);

}

